body{
	font-family: 'Malgun Gothic', 'Verdana'	;
	background-color: #fff;
	color: #808080;
	margin: 0;
	padding: 0;
};
h1, h2, h3, h4, h5, h6{
	font-size: 1.5em;
}
h1{
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}
div#wrapper{
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}
div#header{
	position: relative;
	margin-bottom: 0;
	padding: 0;
	color: #fff;
}
div#title-box{
	text-align: center;
}
div#login-box{
	float: right;
	margin: 2px;
	font-size: 1.1em;
	display: block;
	color: #000000;
	
}
div#login-box a:hover{
	color: #ff80ff;
	text-decoration: none;
}
div#login-box a:active{
	color: #ff44ff;
	text-decoration: none;
}
div#header h1{
    color: #666666;
	padding: 5px 0;
	margin: none;
	line-height: 2em;
	font-weight: bold;
	font-size: 32px;
}
div#content{
	padding: 5px 30px;
	background-color: #fff;
	margin-bottom: 10px;
	min-height: 400px;
	color: black;
	text-align: center;
	align-content: center;
}
div#content-box{
	clear: both;
	margin-top: 30px;
}
div#menu-box{
	margin-top: 30px;
	clear: both;
}
ul#menu{
	text-align: right;
	margin: 0;
	border-bottom: 1px #8000ff;
	position: relative;	
}
ul#menu li{
	display: inline;
	list-style: none;
	background-color: #0080ff;
}
ul#menu li a{
	padding: 10px 20px;
	background-color: #e985e9;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: black;
}
ul#menu li a:hover{
	padding: 10px 20px;
	background-color: #e25fe2;
}
ul#menu li a:active{
	padding: 10px 20px;
	background-color: #de45de;
}
div#footer{
	clear:both;
	color: #aaa;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	line-height: normal;
	font-size: 1.0em;
	background-color: #292929;
}

table, th, td{border:1px solid gray}




