body{
	font-family: 'Malgun Gothic', 'Verdana'	;
	background-color: #fff;
	color: #808080;
	margin: 0;
	padding: 0;
};
h1, h2, h3, h4, h5, h6{
	font-size: 1.5em;
}
h1{
	font-size: 2em;
	padding-bottom: 0;
	margin-bottom: 0;
}
div#wrapper{
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}
div#header{
	position: relative;
	margin-bottom: 0;
	padding: 0;
	color: #fff;
}
div#title-box{
	text-align: center;
}
div#login-box{
	float: right;
	margin-right:30px;
	font-size: 1.1em;
	display: block;
	color: #000000;
	
}
div#login-box a:hover{
	color: #ff80ff;
	text-decoration: none;
}
div#login-box a:active{
	color: #ff44ff;
	text-decoration: none;
}
div#header h1{
    color: #666666;
	padding: 5px 0;
	margin: none;
	line-height: 2em;
	font-weight: bold;
	font-size: 32px;
}
div#content{
	padding: 5px 30px;
	background-color: #fff;
	margin-bottom: 10px;
	min-height: 400px;
	color: black;
	text-align: center;
	align-content: center;
}
div#content-box{
	clear: both;
	margin-top: 30px;
	align-items: center;
}
div#content-box table tr td{
	border: solid 1px black;
	height: 25px;
	width: 100px;
}
div#menu-box{
	margin-top: 30px;
	clear: both;
}
ul#menu{
	text-align: right;
	margin-right: 30px;
	border-bottom: 1px #8000ff;
	position: relative;	
}
ul#menu li{
	display: inline;
	list-style: none;
	background-color: #0080ff;
}
ul#menu li a{
	padding: 10px 20px;
	background-color: #e985e9;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: black;
}
ul#menu li a:hover{
	padding: 10px 20px;
	background-color: #e25fe2;
}
ul#menu li a:active{
	padding: 10px 20px;
	background-color: #de45de;
}
div#footer{
	clear:both;
	color: #aaa;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	line-height: normal;
	font-size: 1.0em;
	background-color: #292929;
}
div#loginForm{
	padding: 10px 20px;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: black;
	align-content: center;
}
table#mypage-table{
	margin : 100px auto;
	margin-bottom :30px;
	padding: 10px 20px;
	text-align: center;
	}
table#mypage-table tr, td{
	font-weight: bold;
	height: 50px;
	width: 100px;
}
table, th, td{border:1px solid gray;
}
.bg_color_is_yellow{background-color: #ffff00;}
#move_update_btn{
	clear:both;
	margin:0 auto;
	text-align: center;
}
#move_update_btn a{
	background-color: #e985e9;
	padding: 10px 20px;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: black;
}

#move_update_btn a:hover{
	padding: 10px 20px;
	background-color: #e25fe2;
}
#move_update_btn a:active{
	padding: 10px 20px;
	background-color: #de45de;
}
div#div_login_form{
	margin: 200px;
	margin-bottom:0;
	margin-top:0;
	text-align: center;
}
div#div_login_form input{
	margin:auto;
	text-align: center;
	width:300px;
	height: 50px;
}

div#login_btn_style {
	clear:both;
	margin:0 auto;
	text-align: center;
}
div#login_btn_style a{
	background-color: #e985e9;
	padding: 13px 115px;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: black;
}

div#login_btn_style a:hover{
	background-color: #e25fe2;
}
div#login_btn_style a:active{
	background-color: #de45de;
}

div#join_form_style{
	margin: 100px;
	margin-bottom:0;
	margin-top:0;
	text-align: center;
}
.join_textbox {
	margin:auto;
	text-align: center;
	width:300px;
	height: 50px;
}

div#join_form_btn_style{
	clear:both;
	width:300px;
	margin:0 auto;
	text-align: center;
}
div#join_form_btn_style a{
	background-color: #e985e9;
	padding: 13px 115px;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: black;
}

div#join_form_style a:hover{
	background-color: #e25fe2;
}
div#join_form_style a:active{
	background-color: #de45de;
}
div#update_member_style table{
	margin:0 auto;
	align-content: center;
	width : 800px;
}

div#update_member_btn_style{
	clear:both;
	width:300px;
	margin:0 auto;
	text-align: center;
}
div#update_member_btn_style a{
	background-color: #e985e9;
	padding: 13px 115px;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: black;
}

div#update_member_btn_style a:hover{
	background-color: #e25fe2;
}
div#update_member_btn_style a:active{
	background-color: #de45de;
}

form#delete_form input{
	clear:both;
	margin:auto;
	text-align: center;
	width:250px;;
	line-height: 2.8em;
}

div#delete_form_btn_style{
	clear:both;
	width:300px;
	margin:0 auto;
	text-align: center;
}
div#delete_form_btn_style a{
	background-color: #e985e9;
	padding: 13px 115px;
	font-weight: bold;
	text-decoration: none;
	line-height: 2.8em;
	color: black;
}

div#delete_form_btn_style a:hover{
	background-color: #e25fe2;
}
div#delete_form_btn_style a:active{
	background-color: #de45de;
}
